[submodule "hw/mcu/nordic/nrfx"]
	path = hw/mcu/nordic/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "hw/mcu/microchip/samd/asf4"]
	path = hw/mcu/microchip/samd/asf4
	url = https://github.com/adafruit/asf4.git
[submodule "tools/uf2"]
	path = tools/uf2
	url = https://github.com/microsoft/uf2.git
[submodule "hw/mcu/st/st_driver"]
	path = hw/mcu/st/st_driver
	url = https://github.com/hathach/st_driver.git
[submodule "hw/mcu/sony/cxd56/spresense-exported-sdk"]
	path = hw/mcu/sony/cxd56/spresense-exported-sdk
	url = https://github.com/sonydevworld/spresense-exported-sdk.git
[submodule "hw/mcu/ti"]
	path = hw/mcu/ti
	url = https://github.com/hathach/ti_driver.git
[submodule "hw/mcu/nxp"]
	path = hw/mcu/nxp
	url = https://github.com/hathach/nxp_driver.git
