html
latex
*.a
*.d
*.o
*.P
*.axf
*.bin
*.elf
*.env
*.ind
*.log
*.map
*.obj
*.jlink
*.emSession
*.ninja*
*.eww
*.ewp
*.ewt
*.ewd
*.hex
.venv/
cmake_install.cmake
CMakeCache.txt
settings/
.settings/
.vscode/
.gdb_history
/examples/*/*/build*
test_old/
tests_obsolete/
_build/
build/
/examples/*/*/ses
/examples/*/*/ozone
/examples/obsolete
hw/bsp/**/cubemx/*/
.mxproject
# coverity intermediate files
cov-int
# cppcheck build directories
*-build-dir
/_bin/
__pycache__
cmake-build/
cmake-build-*
sdkconfig
.PVS-Studio
.vscode/
CMakeFiles
Debug
RelWithDebInfo
Release
BrowseInfo
.cmake_build
README_processed.rst
.worktrees
cmake-metrics/
# Directories fetched by tools/get_deps.py - not to be committed
lib/CMSIS_5/
lib/CMSIS_6/
lib/FreeRTOS-Kernel/
lib/fatfs/
lib/lwip/
lib/sct_neopixel/
lib/threadx/
tools/linkermap/
tools/uf2/
hw/mcu/allwinner/
hw/mcu/analog/
hw/mcu/artery/
hw/mcu/broadcom/
hw/mcu/bridgetek/ft9xx/ft90x-sdk/
hw/mcu/gd/
hw/mcu/hpmicro/
hw/mcu/infineon/
hw/mcu/microchip/
hw/mcu/mindmotion/
hw/mcu/nordic/nrfx/
hw/mcu/nuvoton/
hw/mcu/nxp/
hw/mcu/raspberry_pi/
hw/mcu/renesas/
hw/mcu/silabs/
hw/mcu/sony/cxd56/spresense-exported-sdk/
hw/mcu/st/
hw/mcu/ti/
hw/mcu/wch/
