version: 2.1

setup: true
orbs:
  continuation: circleci/continuation@1

jobs:
  set-matrix:
    executor: continuation/default
    docker:
      - image: cimg/base:current
    resource_class: small
    steps:
      - checkout
      - run:
          name: Set matrix
          command: |
            MATRIX_JSON=$(python .github/workflows/ci_set_matrix.py)
            echo "MATRIX_JSON=$MATRIX_JSON"

            BUILDSYSTEM_LIST=(
              "cmake"
              "make"
            )

            TOOLCHAIN_LIST=(
              "aarch64-gcc"
              "arm-clang"
              "arm-gcc"
              "esp-idf"
              "msp430-gcc"
              "riscv-gcc"
            )

            # only build IAR if not forked PR, since IAR token is not shared
            if [ -z $CIRCLE_PR_USERNAME ]; then
              TOOLCHAIN_LIST+=("arm-iar")
            fi

            gen_build_entry() {
              local build_system="$1"
              local toolchain="$2"
              local family="$3"
              local build_args=""

              if [[ "$toolchain" == "arm-iar" || "$build_system" == "make" ]]; then
                build_args="--one-per-family"
              fi

              if [[ "$toolchain" == "esp-idf" ]]; then
                echo "      - build-vm:" >> .circleci/config2.yml
              else
                echo "      - build:" >> .circleci/config2.yml
              fi

              echo "          matrix:" >> .circleci/config2.yml
              echo "            parameters:" >> .circleci/config2.yml
              echo "              build-system: ['$build_system']" >> .circleci/config2.yml
              echo "              toolchain: ['$toolchain']" >> .circleci/config2.yml
              echo "              family: $family" >> .circleci/config2.yml
              echo "              resource_class: ['large']" >> .circleci/config2.yml
              echo "              build-args: ['$build_args']" >> .circleci/config2.yml
            }

            for build_system in "${BUILDSYSTEM_LIST[@]}"; do
              for toolchain in "${TOOLCHAIN_LIST[@]}"; do
                FAMILY=$(echo $MATRIX_JSON | jq -r ".\"$toolchain\"")
                echo "FAMILY_${toolchain}=$FAMILY"
                gen_build_entry "$build_system" "$toolchain" "$FAMILY"
              done
            done

      - continuation/continue:
          configuration_path: .circleci/config2.yml

workflows:
  set-matrix:
    jobs:
      - set-matrix
