name: Hardware Test

on:
  workflow_dispatch:
  pull_request:
    branches: [ master ]
    paths:
      - 'src/**'
      - 'examples/**'
      - 'lib/**'
      - 'hw/**'
      - 'test/hil/**'
      - 'tools/get_deps.py'
      - '.github/actions/**'
      - '.github/workflows/hil_test.yml'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HIL_JSON: test/hil/tinyusb.json

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      json: ${{ steps.set-matrix-json.outputs.matrix }}
    steps:
      - name: Checkout TinyUSB
        uses: actions/checkout@v4

      - name: Generate matrix json
        id: set-matrix-json
        run: |
          MATRIX_ARMGCC=$(jq -c '{ "arm-gcc": { "family": [.boards[] | select(.flasher != "esptool" and .flasher != "openocd_wch") | "-b \(.name)"] } }' "${{ env.HIL_JSON }}")
          MATRIX_ESP=$(jq -c '{ "esp-idf": { "family": [.boards[] | select(.flasher == "esptool") | "-b \(.name)"] } }' "${{ env.HIL_JSON }}")
          MATRIX_WCH=$(jq -c '{ "wch": { "family": [.boards[] | select(.flasher == "openocd_wch") | "-b \(.name)"] } }' "${{ env.HIL_JSON }}")

          MATRIX_JSON=$(jq -n --argjson arm "$MATRIX_ARMGCC" --argjson esp "$MATRIX_ESP" '$arm + $esp')
          echo "matrix=$MATRIX_JSON"
          echo "matrix=$MATRIX_JSON" >> $GITHUB_OUTPUT

  # ---------------------------------------
  # Build arm-gcc
  # ---------------------------------------
  build:
    if: github.repository_owner == 'hathach'
    needs: set-matrix
    uses: ./.github/workflows/build_util.yml
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - 'arm-gcc'
          - 'esp-idf'
    with:
      build-system: 'cmake'
      toolchain: ${{ matrix.toolchain }}
      build-args: ${{ toJSON(fromJSON(needs.set-matrix.outputs.json)[matrix.toolchain].family) }}
      one-per-family: true
      upload-artifacts: true

#    needs: set-matrix
#    runs-on: ubuntu-latest
#    strategy:
#      fail-fast: false
#      matrix:
#        board: ${{ fromJSON(needs.set-matrix.outputs.json)['arm-gcc'] }}
#    steps:
#      - name: Checkout TinyUSB
#        uses: actions/checkout@v4
#
#      - name: Setup arm-gcc toolchain
#        uses: ./.github/actions/setup_toolchain
#        with:
#          toolchain: 'arm-gcc'
#
#      - name: Get Dependencies
#        uses: ./.github/actions/get_deps
#        with:
#          arg: -b${{ matrix.board }}
#
#      - name: Build
#        run: python tools/build.py -b${{ matrix.board }}
#
#      - name: Upload Artifacts for Hardware Testing
#        uses: actions/upload-artifact@v4
#        with:
#          name: ${{ matrix.board }}
#          path: |
#            cmake-build/cmake-build-*/*/*/*.elf
#            cmake-build/cmake-build-*/*/*/*.bin

  # ---------------------------------------
  # Hardware in the loop (HIL)
  # self-hosted running on an VM. For attached hardware checkout test/hil/tinyusb.json
  # ---------------------------------------
  hil-tinyusb:
    if: github.repository_owner == 'hathach'
    needs: build
    runs-on: [self-hosted, X64, hathach, hardware-in-the-loop]
    steps:
      - name: Clean workspace
        run: |
          echo "Cleaning up previous run"
          rm -rf "${{ github.workspace }}"
          mkdir -p "${{ github.workspace }}"

      - name: Checkout TinyUSB
        uses: actions/checkout@v4
        with:
          sparse-checkout: test/hil

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: cmake-build
          merge-multiple: true

      - name: Test on actual hardware
        run: python3 test/hil/hil_test.py ${{ env.HIL_JSON }}
